#boxMap {
    height: 880px;
    width: 760px;
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);
    
}


.fantome0{
    background: url('../IMG/fantome0.gif');
    background-color: black;
}
.fantome1{
    background: url('../IMG/fantome1.gif');
    background-color: black;
}
.fantome2{
    background: url('../IMG/fantome2.gif');
    background-color: black;
}
.fantome3{
    background: url('../IMG/fantome3.gif');
    background-color: black;
}