@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#boxMap {
    height: 880px;
    width: 760px;
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);
    border: 3px solid white;
    margin-top: 30px;
    
}


.fantome0{
    background:  center no-repeat url('../IMG/Blinky.gif');
    height: 40px;
    width: 40px;
}
.fantome1{
    background: center no-repeat url('../IMG/Clyde.gif');
    height: 40px;
    width: 40px;
}
.fantome2{
    background: center no-repeat url('../IMG/Inky.gif');
    height: 40px;
    width: 40px;
}
.fantome3{
    background: center no-repeat url('../IMG/Pinky.gif');
    height: 40px;
    width: 40px;
}

body{
    background-color: #1d1d1d;
}
h1{
    text-align: center;
    color:  white;
    font-size: 20px;
    margin-top: -5%;
    margin-bottom: 15%;
    font-family: 'Quicksand', sans-serif;
}
.contenu{
    display: flex;
    flex-direction: row;
}

#textScore{
    color: white;
}
#partStat{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;
    border: white solid 3px;
    border-radius: 20px;
    height: 440px;
    background-color: #1d1d1d;
    box-shadow: 15px 15px 0px 0px #999999;
}

#TextLabel{
    color: white;
}

#Win{
    color: rgb(11, 122, 44);
}

#Loose{
    color: rgb(216, 46, 46);
}
